{% extends 'base.html' %}

{% block content %}
<main class="col overflow-auto h-100">
    <div class="bg-light border rounded-3 p-3">
        <h2>Post Title: {{ post.title }}</h2>
        <p>by <a href="/user/{{ username }}" class="">{{ username }}</a></p>
        <hr/>
        <h4>Content:</h4>
        <p>{{ post.content }}</p>
        <hr/>
        {% if post.file_names %}
        <h5>File:</h5>
        <p><a href="/file/{{post.id}}">{{post.file_names}}</a>
        {% endif %}
        #make this part 95 percent and add a side bar for rating and tags

        
    </div>

</main>
{% endblock %}