{% extends 'base.html' %}

{% block content %}
<main class="col overflow-auto h-100" onload="PostsetDropdownValuesFromUrlParams()">
    <div class="bg-light border rounded-3 p-3">
        <h2>Search results for: {{ search }}</h2>
        <p>If the result is not what you expected, try to be more specific. Especially use the exact same words</p>
    </div>
    <div class="bg-light border rounded-3 p-3" style="margin-top: 10px;min-height: 200px;">
        <form method="get">
            <select class="dropdown" id="Search_first-dropdown" onchange="Search_populateSecondDropdown()">
                <option value="top">Top</option>
                <option value="new">New</option>
                <option value="random">Random</option>
            </select>
            
            <select id="Search_second-dropdown" onchange="Search_redirectforsecondDropdown()">
                <option value="all">All time</option>
                <option value="hour">Last Hour</option>
                <option value="day">Last Day</option>
                <option value="week">Last Week</option>
                <option value="month">Last Month</option>
                <option value="year">Last Year</option>

            </select>
            <select class="dropdown" id="Search_quantity-dropdown" onchange="Set_Search_quantity_limit()">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="all">All</option>
            </select>

        </form>
        <span></span>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Tags</th>
                <th scope="col">Content</th>
                <th scope="col">Datetime</th>

                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    
                    <th scope="row">{{ post.id }}</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.tags }}</td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.datetime }}</td>
                    <td
                    <button type="button" class="btn" style="background-color: #003566;color: white;" onclick="window.location.href='/post/{{post.id}}'">View</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
</main>
{% endblock %}